# Local Netlify folder
.netlify
netlify-cli-log

# Node modules
node_modules/
package-lock.json
yarn.lock

# IDE y editores
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Variables de entorno
.env.local
.env
